td.clickablecell  {
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  padding: 0px;
  cursor: pointer;
}


a.fullcell {
#  display : block;
#  padding : 20px 10px;
#  color   : #FFFFFF;
#  text-decoration : none;
}

.collapsedrow {
  line-height: 3px !important;
  font-size: 8px;
  padding: 0px;
  background-color:  #EEEEEE;
}

.unavailableCell {
  background-color:  #EEEEEE;
}

.availableCell {
  background-color:  #ffffcc !important;
}

.bookedCell {
  background-color:  #28A745 !important;
  color: white;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

.vandaag {
  background-color: #84e0ff;
}
