/* For small screen */
.alternate-row-colors :nth-child(even){
  background-color: #dcdcdc;
}
.alternate-row-colors :nth-child(odd){
  background-color: #aaaaaa;
}

.dlk-radio input[type="radio"],
.dlk-radio input[type="checkbox"]
{
	margin-left:-99999px;
	display:none;
}
.dlk-radio input[type="radio"] + .fa ,
.dlk-radio input[type="checkbox"] + .fa {
     opacity:0.0
}
.dlk-radio input[type="radio"]:checked + .fa,
.dlk-radio input[type="checkbox"]:checked + .fa{
    opacity:1
}

.mycontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.mycontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.mycheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* add red background for disabled checkboxes */
.mycontainer input:disabled ~ .mycheckmark{
  background-color: #820e25;
}
/* On mouse-over, add a grey background color */
.mycontainer:hover input ~ .mycheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.mycontainer input:checked ~ .mycheckmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mycheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mycontainer input:checked ~ .mycheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.mycontainer .mycheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/* For medium screen
@media (min-width: 768px) {
    .alternate-row-colors :nth-child(4n), .alternate-row-colors :nth-child(4n-1) {
        background: #dcdcdc;
    }
    .alternate-row-colors :nth-child(4n-2), .alternate-row-colors :nth-child(4n-3) {
        background: #aaaaaa;
    }
}

/* For large screen
@media (min-width: 992px) {
    .alternate-row-colors :nth-child(6n), .alternate-row-colors :nth-child(6n-1), .alternate-row-colors :nth-child(6n-2) {
        background: #dcdcdc;
    }
    .alternate-row-colors :nth-child(6n-3), .alternate-row-colors :nth-child(6n-4), .alternate-row-colors :nth-child(6n-5) {
        background: #aaaaaa;
    }
}
*/
